* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 780px;
}

ul {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    border: 1px solid #000  ;
}