body {
    background: #EFEFBB;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
    flex-direction: column;
}
.logo {
    width: 100%;
    max-width: 500px;
}



.cabecalho select {
    align-self: flex-end;
    width: 100%;
    max-width: 150px;
    margin: 20px;
}

.pokedex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1100px;
}

.container .lista-pokemons {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container .lista-pokemons .card {
    cursor: pointer;
    width: 180px;
    height: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.container .lista-pokemons .card:hover {
    transform: scale(1.1);
}

.container .lista-pokemons .card .card-image {
    max-width: 80px;
    border-radius: 50%;
    background-color: #EFEFBB;
    padding: 5px;
}

.container .btn-seta {
    cursor: pointer;
    margin: 30px 0;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4;}
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9;}
}