.bug {
    background-color: #3C984F;
}

.dark {
    background-color: #585977;
}

.dragon {
    background-color: #60CAD9;
}

.electric {
    background-color: #F9F973;
}

.fairy {
    background-color: #D21F67;
}

.fighting {
    background-color: #EF6237;
}

.fire {
    background-color: #FB4A5A;
}

.flying {
    background-color: #95B1C6;
}

.ghost {
    background-color: #906791;
}

.grass {
    background-color: #26CA4F;
}

.ground {
    background-color: #6D4A1B;
}

.ice {
    background-color: #D9F3FB;
}

.normal {
    background-color: #C898A6;
}

.poison {
    background-color: #9A69D7;
}

.psychic {
    background-color: #F0208F;
}

.rock {
    background-color: #8A3D21;
}

.steel {
    background-color: #3EBF91;
}

.water {
    background-color: #84A9FA;
}